/* ----------------------- burgermenu_esv2 css ~ Empty Soul ----------------------- */

.Burgermenu_esv2{
  width:26px;
  height:26px;
  display:flex;
}

.burgermenu-button
{
width: 100%;
height: 100%;
padding: 0px;
background-color: transparent;
border: 0px solid;
outline: none;
transition: 0.3s;
}

.burgermenu_lineholder
{
transition: 0.35s ease-in-out;
}


.burgermenu-button:hover
{
cursor: pointer;
}

#bml_0
{
}

.burgermenu_line
{
width: 100%;
height: 2px;
display: flex;
pointer-events:none;
transition: 0.3s ease-in-out;
position: relative;
}

.burgermenu_line:after
{
transition:0.3s ease-in-out;
content: '';
display: inline-block;
width: 100%;
height: 2px;
position: absolute;
margin-top: 40%;
}

.burgermenu_line:before
{
transition:0.3s ease-in-out;
content: '';
display: inline-block;
width: 100%;
height: 2px;
position: absolute;
margin-top: -40%;
}



/* --------------------------- MENU LINE COLOR ------------------------ */
.bml_color
{
background-color: #fefefe;
}

.bml_color:before
{
background-color: #fefefe;
}

.bml_color:after
{
background-color: #fefefe;
}

/* ------- hover color -------- */

.burgermenu-button:hover .burgermenu_line
{
background-color: #2eb097;
}

.burgermenu-button:hover #bml_0:after
{
background-color: #2eb097;
}

.burgermenu-button:hover #bml_0:before
{
background-color: #2eb097;
}

/* -------- color when opened -------- */

.bml_color_open
{
background-color: #2eb097;
}

.bml_color_open:before
{
background-color: #2eb097;
}

.bml_color_open:after
{
background-color: #2eb097;
}

/* ------- color on scroll ------------ */
.bml_color_scroll
{
background-color: #111111;
}

.bml_color_scroll:before
{
background-color: #111111;
}

.bml_color_scroll:after
{
background-color: #111111;
}


/* ------------------------------- COLOR END ----------------------- */


/* ------------------------- ANIMATIONS MENU ----------------------- */

/* ---- animation open ---- */

.bmactive .burgermenu_line:before
{
animation-name: bmenulineanim;
animation-duration: 0.5s;
animation-fill-mode: forwards;
}

.bmactive .burgermenu_line:after
{
animation-name: bmenulineanim_3;
animation-duration: 1s;
animation-fill-mode: forwards;
}

.bmactive .burgermenu_line
{
animation-name: bmenulineanim_2;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.3s;
}


@keyframes bmenulineanim
{
0%{margin-top: ;}
50%{ margin-top: 0px;}
100%{ margin-top: 0px;}
}

@keyframes bmenulineanim_2
{
0%{transform:;}
100%{ transform:rotate(225deg);}
}

@keyframes bmenulineanim_3
{
0%{margin-top: ;transform:;}
25%{ margin-top:0px;transform:;animation-delay: 0.3s;}
50%{ margin-top:0px;transform:rotate(0deg);}
100%{ margin-top:0px; transform:rotate(90deg);}
}

/* ---- animation open end ---- */


/* ---- animation reverse ---- */

.bmactive_re .burgermenu_line:before
{
animation-name: bmenulineanim_re;
animation-duration: 0.9s;
animation-fill-mode: forwards;
}


.bmactive_re .burgermenu_line:after
{
animation-name: bmenulineanim_3_re;
animation-duration: 0.9s;
animation-fill-mode: forwards;
}

.bmactive_re .burgermenu_line
{
animation-name: bmenulineanim_2_re;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.4s;
transform:rotate(225deg);
}

@keyframes bmenulineanim_3_re
{
0%{margin-top:0px; transform:rotate(90deg);}
25%{margin-top:0px;transform:rotate(0deg);}
50%{ margin-top:0px;transform:rotate(0deg);}
100%{ margin-top:; transform:;}
}



@keyframes bmenulineanim_2_re
{
0%{transform:rotate(225deg);}
90%{transform:rotate(0deg);}
100%{ transform:rotate(0deg);}
}



@keyframes bmenulineanim_re
{
0%{margin-top: 0px;}
50%{ margin-top: 0px; transform:rotate(0deg);}
100%{ margin-top: ;transform:rotate(0deg);}
}

/* ---- animation reverse end ---- */

/* ------------------------- ANIMATIONS MENU  END ----------------------- */

