
.Burgermenu_esv2{
  width:36px;
  height:36px;
}
.burgermenu_line {
  border-radius:4px;
  height:6px;
}

.burgermenu_line:before {
  border-radius:4px;
  height:6px;
  margin-top: 40%;
}

.burgermenu_line:after {
  border-radius:4px;
  height:6px;
  margin-top: -40%;
}
